
.danger{
  background-color: red;
}
body{
  transition: all 2s ease;
  transition: transform 2s;
}

html::-webkit-scrollbar{                    
  width: .2rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 5rem;
}
.testso{
  background-image: radial-gradient(circle,  blue, rgb(21, 0, 255));}

